#firstDiv{
    background-color: blue;
    box-sizing: border-box;
    
}
#firstHead{
    color: aquamarine;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#secondDiv{
  max-width: 600px;
  margin: auto;
}
#firstPar{
    color: aquamarine;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#firstInput{
    padding: 10px;
    max-width: 600px;
    margin: auto;
    
}
#firstInput1{
    width: 400px;
    height: 30px;
}
#firstBtn{
   
    background-color: aquamarine;
    height: 30px;
    border-radius: 6px;
    padding: 8px;
}
#secondBtn{
    width: 200px;
    background-color: aquamarine;
    height: 30px;
    border-radius: 6px;
    padding: 8px;
}
#thirdBtn{
    width: 200px;
    background-color: aquamarine;
    height: 30px;
    border-radius: 6px;
    padding: 8px;
}
#searchBtn{
    width: 60px;
    background-color: aquamarine;
    height: 30px;
    border-radius: 6px;
    padding: 8px;
    
}

#resetButton{
    width: 50px;
    background-color: rgb(166, 166, 166);
    height: 30px;
    border-radius: 6px;
    padding: 8px;
}
#tbl{
   padding: 8px;
    background-color: aquamarine;
    border-collapse: collapse;
    border: 1px solid black;
}
#euroCountries{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: larger;
    background-color:aquamarine;
    font-weight: bold;

}
#talkingEnglish{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: larger;
    background-color:aquamarine;
    font-weight: bold;
}
