#firstDiv{
    background-color: rgb(94, 84, 84);
}
#firstHead{
    color: aquamarine;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#secondDiv{
  max-width: 600px;
  margin: auto;
}
#firstPar{
    color: aquamarine;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#firstInput{
    padding: 10px;
    max-width: 600px;
    margin: auto;
}
#firstInput1{
    width: 400px;
    height: 30px;
}
#firstBtn{
   
    background-color: aquamarine;
    height: 30px;
}
#secondBtn{
    width: 200px;
    background-color: aquamarine;
    height: 30px;
}
#thirdBtn{
    width: 200px;
    background-color: aquamarine;
    height: 30px;
}
#searchBtn{
    width: 60px;
    background-color: aquamarine;
    height: 30px;
    
}
#searchBtn:active{
background-color: blue;
}
#reset{
    width: 50px;
    background-color: aquamarine;
    height: 30px;
}
#tbl{
    border: solid;
    color: black;
    background-color: aquamarine;
}